In [1]:
import pandas as pd
import numpy as np

In [2]:
data_fake = pd.read_csv('Fake.csv')
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [3]:
data_true = pd.read_csv('True.csv')
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
data_fake["class"] = 0
data_true["class"] = 1

In [5]:
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [6]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis=0, inplace=True)

data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis=0, inplace=True)

In [7]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [8]:
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_25656\277247672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_25656\277247672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [9]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [10]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [11]:
data_merge = pd.concat([data_fake, data_true], axis = 0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [12]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [13]:
data = data_merge.drop(['title','subject', 'date'], axis = 1)

In [14]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [15]:
data = data.sample(frac = 1)
data.head()

                                                    text  class
2985   WASHINGTON (Reuters) - U.S. Senate Republican ...      1
10821  AP reported:California s elected Democrats had...      0
1105   One of Donald Trump s favorite morons   you kn...      0
20628  TALLINN (Reuters) - Turkey said on Friday the ...      1
17280  KUALA LUMPUR (Reuters) - Malaysia said on Tues...      1

In [16]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace =True)

In [17]:
data.columns

Index(['text', 'class'], dtype='object')

In [18]:
data.head()

                                                text  class
0  WASHINGTON (Reuters) - U.S. Senate Republican ...      1
1  AP reported:California s elected Democrats had...      0
2  One of Donald Trump s favorite morons   you kn...      0
3  TALLINN (Reuters) - Turkey said on Friday the ...      1
4  KUALA LUMPUR (Reuters) - Malaysia said on Tues...      1

In [19]:
import re
import string

def wordopt(text):
    text = text.lower()
    text = re.sub(r'\[,*?\]', '', text)  # Escape brackets properly
    text = re.sub(r"\W", " ", text)       # Escape backslashes properly
    text = re.sub(r'https?://\S+|www\.\S+', '', text)  # Escape backslashes properly
    text = re.sub(r'<.*?>+', '', text)    # Escape backslashes properly
    text = re.sub(f"[{re.escape(string.punctuation)}]", '', text)  # Escape backslashes properly
    text = re.sub(r'\n', '', text)        # Escape backslashes properly
    text = re.sub(r'\w*\d\w*', '', text)  # Escape backslashes properly
    return text

In [20]:
data['text'] = data['text'].apply(wordopt)

In [21]:
x = data['text']
y = data['class']

In [22]:
# z_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.25)
from sklearn.model_selection import train_test_split

# Assuming x and y are defined
z_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [23]:
# from sklearn,feature_extraction,text import tfidVectorizer
# vectorization = tfidVectorizer()
# xv_train = vectorization.fit_transfore(x_train)
# xv_test = vectorization,transfore(x_test)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# Example text data
documents = ["sample text data", "more sample text", "text data example"]
labels = [0, 1, 0]

# Split the data
x_train, x_test, y_train, y_test = train_test_split(documents, labels, test_size=0.25)

# Vectorize the text data
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

print("xv_train shape:", xv_train.shape)
print("xv_test shape:", xv_test.shape)

xv_train shape: (2, 4)
xv_test shape: (1, 4)

In [24]:
# from sklearn.linear_model import LogisticsRegression

# LR = LogisticRegression()
# LR.fit(xv_train, y_train)
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(xv_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0

In [ ]:
pred_lr = LR.predict(xv_test)

In [ ]:
LR.score(xv_test, y_test)

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, pred_lr))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

In [ ]:
# pred_dt = DT.predict(xv_tes)
from sklearn.tree import DecisionTreeClassifier

# Initialize and train the model
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

# Make predictions
pred_dt = DT.predict(xv_test)

In [ ]:
DT.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_dt))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

GB = GradientBoostingClassifier(random_state = 0)
GB.fit(xv_train, y_train)

In [ ]:
pred_gb = GB.predict(xv_test)

In [ ]:
GB.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_gb))

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state = 0)
RF.fit(xv_train, y_train)

In [ ]:
pred_rf = RF.predict(xv_test)

In [ ]:
RF.score(xv_test, y_test)

In [ ]:
print(classification_report(y_test, pred_rf))

def output_label(n):
if n == 0;
return "Fake News"
elif n == 1;
return "Not A Fake News"


def manual_testing(news):
testing_news = {"text":[news]}
news_def_test["text"] = pd.DataFrame(testing_news)
news_def_test["text"] = new_def_test["text"].apply(wordopt)
news_x_test = new_def_test["text"]
news_xv_test = vectorization.transform(news_x_test)
pred_LR = LR.predict(new_xv_test)
pred_DT = DT.predict(new_xv_test)
pred_GBC = GBC.predict(new_xv_test)
pred_RFC = RFC.predict(new_xv_test)

return print("\n\nLR Prediction: {} \nGBC PREdiction: {} \nRFC Prediction: {}"

In [ ]:
news = str(input(Beware of morning talk show hosts turned news...))
manual_testing(news)